
@{
    ViewBag.Title = "ChangeTrackConsole";
}

<h2>Change Console <a target="_blank" href="~/Home/Index" class="btn btn-sm btn-primary">View Grid </a></h2>

<textarea class="form-control" id="txtbLog" style="max-width:none;font-family:monospace" rows="24" readonly="readonly"></textarea>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var trackerHub = $.connection.dbNotificationsHub;

            // register client methods
            trackerHub.client.RelayDbChanges = function (data) {
                displayUpdate(data);
            };

            trackerHub.client.RelayDbError = function (data) {
                debugger;
            };

            trackerHub.connection.start()
            .done(function (data) {
                debugger;
            })
            .fail(function (data) {
                debugger;
            });
        });

        function displayUpdate(data) {
            var eventType = {
                0: 'None',
                1: 'Delete',
                2: 'Insert',
                3: 'Update'
            }

            var message = '\nEVENT :' + eventType[data.ChangeType];
            message += '\nRECORD : ' + JSON.stringify(data.Record);
            message += '\n-------------------------------------------------------';

            $('#txtbLog').append(message);
        }
    </script>
}