@using SqlChangeTrackingPoc.Models.DevTest

@model IEnumerable<DevTestModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a href="~/Home/Create" class="btn btn-primary">Create</a>
    <a href="~/Home/ChangeTracker" class="btn btn-success">Change Tracker</a>
</div>
<table id="tblDisplay" class="table table-responsive table-striped table-hover">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Affiliate Name</th>
            <th>Campaign Name</th>
            <th>Clicks</th>
            <th>Conversions</th>
            <th>Date</th>
            <th>Impressions</th>
            <th>Actions</th>
        </tr>
    </tbody>    
    <tbody data-bind="foreach:listData">
        <tr>
            <td data-bind="text:ID"></td>
            <td data-bind="text:AffiliateName"></td>
            <td data-bind="text:CampaignName"></td>
            <td data-bind="text:Clicks"></td>
            <td data-bind="text:Conversions"></td>
            <td data-bind="text:$parent.formatDate(Date)"></td>
            <td data-bind="text:Impressions"></td>
            <td>
                <span data-bind="click:$parent.doAjaxDelete" class="btn btn-danger btn-sm">&times;</span>
                <a data-bind="attr:{href:'@Url.Content("~/Home/Edit")/'+ID}" class="btn btn-warning btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
        </tr>
    </tbody>  
</table>

@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/CustomScript/index.js"></script>
}